{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<style>
    .example-wrapper {  max-width: auto; width: auto%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }


    .body{
        background: #fff5ee;

    }


.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
}

.job-ad {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.job-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.job-description {
    margin-bottom: 20px;
}

.learn-more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #0056b3;
}

p{
    text-aligne: justify;
}

#form_job {
  text-align: center;
}
#form {
  position: fixed;
  display: flex;
  justify-content: center;
  height: auto; 
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  border-radius: 5px;
  margin: 5vh 25vw;
  padding: 30px 20px;
}

#popup{
  background-color: grey;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

#adelete{
    cursor: pointer;
}

#croix {
  text-align: end;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 5%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    vertical-align: top;
}
</style>

<div class="example-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      
      <div class="container-fluid">
        <a class="navbar-brand" href="{{path('app_accueil')}}"><strong>Accueil</strong></a>
        {% if app.user %}
            <a class="navbar-brand" href="{{'/logout'}}"><strong>Logout</strong></a>
        {% else %}
            <a class="navbar-brand" href="{{'/login'}}"><strong>Login</strong></a>
        {% endif %}
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          {% if app.user == null %}
            <a class="nav-link active" aria-current="page" href="{{'/register'}}">Sign up</a>
          {% else %}
            {% if app.user.getRoles()[0] == 'ROLE_ADMIN' %}
              <a class="nav-link active" aria-current="page" href="{{'/admin'}}">Admin</a>
            {% else %}
                {% if app.user.getRoles()[0] == 'ROLE_EMPLOYEUR' %}
                    <a class="nav-link active" aria-current="page" href="{{path('dashboard_company')}}">Dashboard</a>
                {% endif %}
              <a class="nav-link active text-warning"  href="{{path('updateuser')}}">Update User</a>
              <div class="nav-link active text-danger cursor-pointer" id="adelete">Delete account</div>
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    </nav>



      

        <div class="container">

        {% for ad in ads %}
            <div class="job-ad">
                <div class="job-title">{{ ad.getTitle() }}</div>
                <div class="job-description">
                    {{ ad.getResume() }}
                </div>
                <button class="learn-more-button">Learn More</button>
                <div class="job-details" style="display: none;"><br>
               
                    <p> Les missions du poste </p>
    
                    <p>QUELLES MISSIONS ?</p>    
                    <p>
                        {{ ad.getDescription() }}
                    </p>
                    <p>Salaire : {{ ad.getSalary()}} € par an</p>
                    <p><i class="fas fa-map-marker-alt"></i> Lieu : {{ad.getLocation()}}</p>                
    
                    <p>Temps de travail : {{ad.getWorkSchedule()}}</p>
                    <p>Entreprise: {{ companies[loop.index0].getName() }} in {{ companies[loop.index0].getLocation() }} </p>
                    <input type="hidden" name="ad_id" value="{{ ad.getId() }}">
             
                    {% if app.user %}
                        {% if app.user.getRoles()[0] == "ROLE_EMPLOYEUR" %}
                            <a class="btn btn-primary" href="{{ path('logout') }}">Il faut être connecté en tant que candidat</a>
                        {% else %}
                            <button class="form-button btn btn-primary">Postuler</button>
                        {% endif %}

                    {% else %}
                        <a class="btn btn-primary" href="{{ path('app_login') }}">Se connecter pour postuler</a>
                    {% endif %}


                </div>
            </div>
            
        {% endfor %}

            <div id="form_job" style="display: none;"><br>
            <div id="popup"></div>

            <div id="form">
                <div id="croix">X</div>

                <div class="row">
                    <div class="column">
                        <h1>Postuler</h1>
                    </div>
                
                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <label for="name">Name :</label>
                                <input type="text" name="name" value="{{ app.user.getName() ?? null }}" disabled>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label for="firstname">Firstname :</label>
                                <input type="text" name="firstname" value="{{ app.user.getFirstname() ?? null }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <label for="email">Email :</label>
                                <input type="text" name="email" value="{{ app.user.getEmail() ?? null }}" disabled>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label for="phone">Phone Number :</label>
                                <input type="text" name="phone" value="{{ app.user.getPhoneNumber() ?? null }}" disabled>
                            </div>
                        </div>
                    </div>

                        {{ form_start(form) }}
                            <div class="row">
                                <div class="column">
                                    <div class="form-group">
                                        {{ form_label(form.description) }}
                                        {{ form_widget(form.description) }}
                                    </div>
                                </div>
                                <div class="column">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

     
    <script>
        // JavaScript pour gérer l'affichage des détails lors du clic sur "En savoir plus"
        const learnMoreButtons = document.querySelectorAll('.learn-more-button');

        learnMoreButtons.forEach(button => {
            button.addEventListener('click', () => {
                const jobDetails = button.nextElementSibling;
                if (jobDetails.style.display === 'none' || jobDetails.style.display === '') {
                    jobDetails.style.display = 'block';
                } else {
                    jobDetails.style.display = 'none';
                }
            });
        });

        const formbutton = document.querySelectorAll('.form-button');

        formbutton.forEach(button => {
            button.addEventListener('click', () => {
                const jobDetails = document.getElementById('form_job');
                if (jobDetails.style.display === 'none' || jobDetails.style.display === '') {
                    jobDetails.style.display = 'block';
                }
                let infohidden = document.getElementById('email_body_form_advertisements');
                infohidden.value = button.parentElement.querySelector('input[name="ad_id"]').value;
            });
        });

        const croix = document.getElementById('croix');
        croix.addEventListener('click', () => {
            const jobDetails = document.getElementById('form_job');
            if (jobDetails.style.display === 'block') {
                jobDetails.style.display = 'none';
            }
        });
        const popup = document.getElementById('popup');
        popup.addEventListener('click', () => {
            const jobDetails = document.getElementById('form_job');
            if (jobDetails.style.display === 'block') {
                jobDetails.style.display = 'none';
            }
        });
    </script>



    <footer class="bg-dark text-center text-white" width=auto;>
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Sign up for our newsletter</strong>
                  </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example29" class="form-control" />
                    <label class="form-label" for="form5Example29">Email address</label>
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</div>
{% endblock %}
