{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    body{
        overflow-x: hidden;
        background-color:#E3F2FD;
      

.job-ad {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.job-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.job-description {
    margin-bottom: 20px;
}

.learn-more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #0056b3;
}

p{
    text-aligne: justify;
}

    }
    .animated-text {
      animation: slideIn 30s infinite;
      
      white-space: nowrap;
      top: 50%;
      left: 0;
  }

  @keyframes slideIn {
      0% { transform: translateX(100%); }
      100% { transform: translateX(-100%); }
  }

#form_job {
  text-align: center;
}
#form {
  position: fixed;
  display: flex;
  justify-content: center;
  height: auto; 
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  border-radius: 5px;
  margin-left: 25vw;
  margin-top: 20vh;
  padding: 30px 20px;
}

#adelete{
    cursor: pointer;
}

#popup{
  background-color: grey;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

#croix {
  text-align: end;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 5%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    vertical-align: top;
}


</style>
<body>
<div class="example-wrapper">
    <div class="container">
      <h1 class="animated-text">Welcome to World JOB</h1>
    </div>


    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      
      <div class="container-fluid">
        <a class="navbar-brand" href="{{'/logout'}}"><strong>Logout</strong></a>

        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{{path('ad')}}">Create an advertisement</a>            

            <a class="nav-link active text-warning"  href="{{path('updateuser')}}">Update User</a>

            <div class="nav-link active text-danger" id="adelete">Delete account</div>
          </div>
        </div>
      </div>
    </nav>
       
    <div class="row">
        <h1 class="d-flex justify-content-center">My Advertisements</h1>
        <div class="col-1"></div>
        <div class="col-10">
        {% for ad in ads %}
            <div class="job-ad">
                <div class="job-title">{{ ad.getTitle() }}</div>
                <div class="job-description">
                    {{ ad.getResume() }}
                </div>
                <button class="learn-more-button">Learn More</button>
                <div class="job-details" style="display: none;"><br>
                
                    <p> Les missions du poste </p>


                    {{ ad.getDescription() }}
                    
                    <p>

                    </p>
                    <p>Salaire : {{ ad.getSalary()}} € par an</p>
                    <p><i class="fas fa-map-marker-alt"></i> Lieu : {{ad.getLocation()}}</p>                

                    <p>Type de travail : {{ad.getWorkSchedule()}}</p>
                    <!-- Ce lien "Edit" redirige vers une route spécifique pour éditer l'annonce en fonction de l'ID de l'annonce.-->
                    <a href="{{ path('editad', {'id': ad.getId()}) }}" class="btn btn-primary">Edit</a>
                    
                    <!-- Ce lien "see applicants" redirige vers une page pour voir les candidats pour l'annonce spécifique.-->
                    <!--Le count[loop.index0] est utilisé pour préciser le nombre de candidats pour l'annonce correspondante.-->
                    <!--La variable count est un tableau qui contient le nombre de candidat et [loop.index0] indique à quel annonce ils correspondent.-->                    
                    <a href="{{ path('seeapplicants', {'id': ad.getId()}) }}" class="btn btn-primary">See applicants ({{ count[loop.index0]}})</a>
                    
                    <!--Ce lien "Delete" redirige vers une route spécifique pour supprimer l'annonce en fonction de l'ID de l'annonce.-->
                    <a href="{{ path('deletead', {'id': ad.getId()}) }}" class="btn btn-danger">Delete</a>
                </div>

            </div>
            
        {% endfor %}
        </div>
        <div class="col-1"></div>

    </div>

    <div id="form_job" style="display: none;"><br>
        <div id="popup"></div>

        <div id="form">
            <div id="croix">X</div>
        <form method="post" action="{{ path('deleteuser') }}" id="form_job">
            <div class="row">
                <div class="column">
                    <h1>Are you sure ?</h1>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>

        </div>
    </div>

</div>

<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3"><strong>Never give up</strong></span>
            
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">M_J Board</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
</body>

    <script>
        // JavaScript pour gérer l'affichage des détails lors du clic sur "En savoir plus"
        const learnMoreButtons = document.querySelectorAll('.learn-more-button');

        learnMoreButtons.forEach(button => {
            button.addEventListener('click', () => {
                const jobDetails = button.nextElementSibling;
                if (jobDetails.style.display === 'none' || jobDetails.style.display === '') {
                    jobDetails.style.display = 'block';
                } else {
                    jobDetails.style.display = 'none';
                }
            });
        });

        const formbutton = document.getElementById('adelete');

        formbutton.addEventListener('click', () => {
            const jobDetails = document.getElementById('form_job');
            if (jobDetails.style.display === 'none' || jobDetails.style.display === '') {
                jobDetails.style.display = 'block';
            }
        });

        const croix = document.getElementById('croix');
        croix.addEventListener('click', () => {
            const jobDetails = document.getElementById('form_job');
            if (jobDetails.style.display === 'block') {
                jobDetails.style.display = 'none';
            }
        });
        const popup = document.getElementById('popup');
        popup.addEventListener('click', () => {
            const jobDetails = document.getElementById('form_job');
            if (jobDetails.style.display === 'block') {
                jobDetails.style.display = 'none';
            }
        });
    </script>

{% endblock %}
