{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('id') is not null %}
        Edit ad !
    {% else %}
        Ajout ad !
    {% endif %}
{% endblock %}

{% block body %}
<style>
    body {
        justify-content: center;
        height: 100vh;
        margin: 0;
        background: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/018.webp') no-repeat center center fixed;
        background-size: cover;
        animation: slideshow 60s infinite;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn-primary {
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
    }

    .btn-primary:hover {
        background: #0056b3;
    }

    .navbar .nav-link {
        color: write !important;
        position: relative;
        right: auto;
        display: flex;
        justify-content: flex-end
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand nav-link" href="{{ path('dashboard_company')}}">
                <strong>Accueil</strong>
            </a>

            <a class="navbar-brand nav-link" href="{{ path('app_login')}}">
                <strong>Sign in</strong>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

        </div>
    </nav>


    <div class="container">
         
        <h2 style="font-weight: bold; text-align: center;"> Edit Profil : {{app.user}}</h2>
        
        <!--Creation du formulaire-->
        {{ form_start(form) }}
        
        {{ form_end(form) }}
    </div>


    </div>


    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="#">M.J_DEV</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>
{% endblock %}